/* IMPORTAMOS LA FUENTE */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


:root{
    --black: #0D1B2A;
    --dark_blue: #1B263B;
    --blue: #415A77;
    --light_blue: #778DA9;
    --cream: #E0E1DD;
    --green: #7c9885;
    --red: #c5979d;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html{
    scroll-behavior: smooth
}
body{
    width: 100%;
}

header{
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--blue);
    z-index: 2;

    border-bottom: solid 1px var(--black);
}
a, .menu-icon , .cart-icon{
    color: black;
}

header img{
    width: 10rem;
}

body{
    background-color: var(--black);
    color: var(--cream);
}

.new_user{
    background-color: var(--green);
    text-align: center;
    padding: 20px;
}

.finish-msg{
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cream);
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 0.5s ease-out;
    transform: translateY(-200%);
    z-index: 3;
}

.active-top-message{
    transform: translateY(0);
    transition: all 0.5s ease-in;
}

.red{
    background-color: red;
}
.green{
    background-color: green;
}

.add-modal {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cream);
    background-color: green;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: all 0.5s ease-out;
    transform: translateY(200%);
  }
.active-modal {
    transform: translateY(0);
    transition: all 0.5s ease-in;
  }

.cart{
    display: none;
}

.cart-title{
    margin: 1rem 0 1rem 0;
}

.cart-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.empty-cart{
    color: var(--green);
}

.cart-player{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1px;
    width: 100%;
    background-color: var(--blue);
    border-radius: 0.5rem;
    padding: 5px;
}

.cart-player img{
    margin: 1rem;
}
.cart-player h3{
    text-decoration: underline;
}

.cart-photo{
    width: 5rem;
}

.delete-player{
    background-color: var(--black);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.pos-info{
    font-size: 13px;
}

.cart.active{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1.5rem;
    position: absolute;
    width: 30rem;
    height: 81vh;
    top: 7.56rem;
    right: 0;
    overflow-y: auto;
    z-index: 3;
}
.cart-total p {
    margin-top: 1rem;
}
.btn-buy{
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px -20px;
    cursor: pointer;
    background-color: var(--green);
    transition: all 0.2s ease-in-out 0ms;
}

.btn-delete-all{
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px -20px;
    cursor: pointer;
    background-color: var(--red);
    transition: all 0.2s ease-in-out 0ms;
    margin-bottom: 1rem;
}
.btn-buy, .btn-delete-all{
    margin-top: 1rem;
}

.list_menu.active{
    display: flex;
    gap: 1rem;
    background-color: var(--blue);
    width: 20rem;
    height: 15rem;
    position: absolute;
    top: 7.5rem;
    right: 0;
    left: 20rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-left: solid var(--light_blue);
    border-right: solid var(--light_blue);
    border-bottom: solid var(--light_blue);
    border-radius: 0 0 5px 5px;
}

.hidden {
    display: none;
}

.menu-icon{
    margin: 0 1rem 0 1rem;
    display: none;
}

.list_menu{
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
    font-size: large;
}
.menu{
    display: flex;

}

.main{
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fa-solid{
    font-size: larger;
}

.description-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main_img{
    width: 27rem;
    border-radius: 1rem;
}

.section{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
/* ----------------SECCION BENEFICIOS ----------*/
.beneficios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.beneficios h3{
    margin: 1rem 0 1rem 0;
}
.beneficios-cards{
    display: flex;
    justify-items: center;
    gap: 2rem;
    background-color: var(--blue);
    width: auto;
    border-radius: 10px;
}

.ben-card {
    width: 190px;
    height: 254px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0rem 1rem 0 1rem;
}

.ben-card i{
    color: black;
    font-size: 9rem;
}

.ben-card p{
    color: black;
    text-align: center;
}

.players-container{
    display: grid;
    grid-template-columns: repeat(3, 23rem);
    grid-gap: 10px;
}

.categories{
    display: flex;
    gap: 2rem;
}


.category{
    background-color: var(--light_blue);
    color: var(--cream);
    height: 2rem;
    width: 10rem;
    border-radius: 1rem;
}

.active{
    background-color: var(--dark_blue);
    border-color: var(--cream);
}

.card{
    background-color: var(--light_blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    align-items: center;
    gap: 1rem;
    width: 22rem;
}

.card h3{
    margin: 1rem 0 1rem 0;
    grid-column: 2 / 4;
}

.card img{
    width: 20rem;
}

.card-info{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.rating{
    grid-column: 4 / 5;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    margin: 1rem 0 1rem 1rem;
    border: solid;
    border-radius: 1rem;
    border-color: red;
    background-color: red;
}

.buy_button{
    background-color: var(--cream);
    color: var(--dark_blue);
    height: 2rem;
    width: 10rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.disabled {
    background-color: grey;
    color: white;
    cursor: not-allowed;
    border: none;
}
.btn_loadmore{
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  background-color: var(--blue);
  margin: 1rem 0 2rem 0;
}
/* ---------SECCION CONTACTO------------ */
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.contact h3{
    text-align: center;
}
.conctact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.conctact-form textarea{
    resize: none;
    background-color: var(--blue);
    border: 1px;
    border-style: solid;
    border-color: var(--red);
    width: 496px; 
    height: 137px;
}
.send-form-btn{
    width: 20%;
    font-weight: bold;
    text-align: center;
    color: black;
    background-color: var(--green);
    border: solid 1px black;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
}
.contact_input{
    width: 496px;
    background-color: var(--blue);
    border-bottom: 1px solid var(--red);
    border-top: unset;
    border-left: unset;
    border-right: unset;
    height: 2rem;
}
/* ------------ FOOTER ----------------- */
.footer_all{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    background-color: var(--light_blue);
    padding: 0.5rem 0 0.5rem 0;
}

.info_footer{
    display: flex;
    font-size: 15px;
    flex-direction: column;
    align-items: flex-start;
    color: var(--cream);
    width: fit-content;
}
.footer_icons{
    display: flex;
    align-items: center;
    gap: 0.9rem;
    font-size: 25px;
    color: var(--dark_blue);
    width: fit-content;
}
.footer_icons :first-child>:hover{
    transition: 1s;
    color: #3b5998;
}
.footer_icons :nth-child(2)>:hover{
    transition: 1s;
    color: 	#E1306C;
}
.footer_icons :last-child>:hover{
    transition: 1s;
    color: 	#00acee;
}


/*---------------------------- LOG IN --------------------------------*/
.login h2{
    margin-top: 1rem;
}


.back_button{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.login{
        border-radius: 10px;
        margin: 2rem 32%; 
        background-color: var(--blue);
        display: flex;
        flex-direction: column;
        align-items: center;
}

.login_form{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.submit_login_btn{
    margin-top: 1rem;
    background-color: var(--light_blue);
    border-style: none;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    font-weight: bold;
    color: #020A1E;
    border: 3px solid black;
}

.new_account_btn{
    margin: 2rem 0 1rem 0;
    background-color: var(--green);
    border-style: none;
    padding: 1rem 1.5rem;
    font-weight: bold;
    border: 2px solid var(--cream);
    border-radius: 0.4em;
}

.login_form label{
    width: 80%;
}

.login_input{
    background-color: var(--blue);
    border-bottom: 1px solid var(--red);
    border-top: unset;
    border-left: unset;
    border-right: unset;
    width: 100%;
    height: 2rem;
}

.login_divider{
    width: 90%;
    margin: 2rem 2rem 0 2rem;
    height: 3px;
    background-color: var(--black);
}
.log_footer{
    position: absolute;
    bottom: 0;
}

::placeholder{
    color: var(--cream);
}

@media (max-width: 1231px){
    .players-container{
        grid-template-columns: repeat(2, 23rem);
    }
}

@media (max-width: 992px){
    .menu-icon{
        display: flex;
    }
    .list_menu{
        display: none;
    }
    .category{
        width: 8rem;
    }
    .login{
        margin: 2rem 25%;
    }
   }

@media (max-width: 858px){
    .main{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .list_menu.active{
        left: 18rem;
    }
}

@media (max-width: 798px){
    .categories{
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(5, 73px);
        grid-template-rows: repeat(2, 30px);
    }
    .categories :first-child{
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .categories :nth-child(2){
        grid-column: 4/5;
        grid-row: 1/2;
    }
    .categories :nth-child(3){
        grid-column:1/2 ;
        grid-row: 2/3;
    }
    .categories :nth-child(4){
        grid-column:3/4 ;
        grid-row: 2/3;
    }
    .categories :nth-child(5){
        grid-column: 5/6;
        grid-row: 2/3;
    }
}

@media (max-width: 750px){
    .card img{
        width: 10rem;
    }
    .card{
        width: 18rem;
    }
    .players-container {
        grid-template-columns: repeat(2, 18rem);
    }
    .cart.active{
        width: 100%;
    }
    .list_menu.active.active{
        width: 100%;
        left: 0;
    }
    .list_menu.active.active li{
        text-decoration: underline;
    }
    .ben-card i{
        font-size: 6rem;
    }
    .beneficios-cards{
        width: 70%;
    }
}
   
@media (max-width: 627px){
    header img{
        width: 7rem;
    }
    .cart.active{
        top: 5.26rem;
        height: 85vh;
    }
    .list_menu.active.active{
        top: 5.26rem;
    }
    .players-container {
        grid-template-columns: repeat(1, 18rem);
    }
    .categories{
        grid-template-columns: repeat(5, 49px);
    }
    .login {
        margin: 2rem 15%;
    }
    .footer_icons{
        margin-right: 1rem;
        margin-left: 0.5rem;
    }
    .beneficios-cards{
        flex-direction: column;
        width: auto;
        height: 42rem;
    }
    .beneficios-cards :first-child{
        margin-top: 0.5rem;
    }
    .beneficios-cards :last-child{
        margin-bottom: 0.5rem;
    }
    .ben-card i{
        font-size: 4rem;
    }
    .ben-card {
        gap: 1rem;
    }
    .contact_input{
        width: 400px;
    }
    .conctact-form textarea{
        width: 400px;
    }

}
@media (max-width: 480px){
    .categories{
        grid-template-columns: repeat(5, 28px);
    }
    .main_img{
        width: 20rem;
    }
    .category{
        font-size: 10px;
        width: 6.7rem;
    }
    .contact_input , .conctact-form textarea{
        width: 300px;
    }
    .send-form-btn{
        width: 25%;
    }
    .main{
        text-align: center;
    }
   }
/* @media (max-width: 450px){
    .categories{
        grid-template-columns: repeat(5, 38px);
    }
   } */